<header class="header">
    <div class="header--logoBox">
        <img src="http://comunidadterapeuticaresurgir.org/wp-content/uploads/2018/04/LOGOFENIX.png" alt="Logo" class="header--logoBox--img">
    </div>
    <div class="header--textBox">
        <h1 class="header--textBox--headingPrimary">
            <span class="header--textBox--headingPrimary--main">fenix</span>
            <span class="header--textBox--headingPrimary--sub">all your moments</span>
        </h1>
    </div>
    <div class="header--middleButton">
        <a href="/posts" class="header--middleButton--moments, button">Moments</a>
    </div>
    <div class="header--towButton">
        <a href="/login" class="header--towButton--login, button">Login</a>
        <a href="/signup" class="header--towButton--signup, button">Signup</a>
    </div>
</header>
<section class="main">
    <div class="cards">
        <div class="card">
            <i class="fas fa-heart"></i>
            <i class="card--icon"></i>
            <p class="card--text">Share your happy moments</p>
            <a href="/signup" class="card--link--button">Start Now</a>
        </div>
        <div class="card">
            <i class="fas fa-hand-holding-heart"></i>
            {{!-- <i class="card--icon"></i> --}}
            <p class="card--text">Give free advice</p>
            <a href="/signup" class="card--link--button">Start Now</a>
        </div>
        <div class="card">
            <i class="fas fa-hands-helping"></i>
            <i class="card--icon"></i>
            <p class="card--text">Ask and get help</p>
            <a href="/signup" class="card--link--button">Start Now</a>
        </div>
    </div>

</section>