<section class="page">
  <header class="header">
    <div class="header--logoBox">
      <a href="/">
        <img src="http://comunidadterapeuticaresurgir.org/wp-content/uploads/2018/04/LOGOFENIX.png" alt="Logo" class="header--logoBox--img">
      </a>
    </div>
    <nav class="header--nav">
      <h3 class="header--nav-title"><a href="/" class="header--nav-title">fenix</a> </h3>
    </nav>
  </header>
  <main class="main">
    <section class="main--section">
      <form class="main--section-form">
        <label for="userName">
          <input type="text" name="userName" class="main--section-input" id="userName" placeholder="User Name" required>
        </label>
        <label for="email">
          <input type="email" name="email" class="main--section-input" id="email" placeholder="Email" required>
        </label>
        <label for="password">
          <input type="password" name="password" class="main--section-input" id="password" placeholder="Password"
            required>
        </label>
        <label for="confirmPassword">
          <input type="password" name="confirmPassword" class="main--section-input" id="confirmPassword" placeholder="confirm password"
            required>
        </label>
        <button class="main--section-signup">Signup</button>
        <h4 id="msg"></h4>
        <hr>
        <br>
        <h3 class="main--section-h3">You have account<a href="/Login" class="main--section-h3-a">Login</a>
        </h3>
      </form>
    </section>
  </main>
</section>