<!DOCTYPE html>
<html lang="en">
<head>
  {{>head}}
  <title>{{title}}</title>
  <link rel="stylesheet" href="./css/{{styleName}}.css"></head>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
<body>  
  {{{body}}}

  <script src="./js/{{domName}}.js"></script>

</body>
</html>