<!DOCTYPE html>
<html lang="en">

<head>
  {{>head}}
  <title>{{title}}</title>
  <link rel="stylesheet" href="./css/{{styleName}}.css">
</head>

<body>
  <main>
    {{{body}}}
  </main>

  <script src="./js/{{domName}}.js"></script>
</body>

</html>